<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <shutdownHook/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS, Europe/Madrid} [%thread] %-5level %logger %method -%kvp- %message%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.HQL_FUNCTIONS" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
